    <div class="row">
        <div class="col">
            <div class="mr-4">
                <img src="../../../assets/img/fogg-900.png" alt="" class="pulmon ml-5">
            </div>
        </div>
        <div class="col card mr-4 mt-5" id="card-login">
            <h1 class="card-title text-center mt-4">Bienvenido a su centro medico online</h1>
            <div class="mt-5 ">
                <form (ngSubmit)="login(f)"
                      #f="ngForm">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Ingrese su documento</label>
                      <input type="number" name="documento" required [(ngModel)]='usuario.documento' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <span *ngIf="f.submitted && f.controls['documento'].errors"
                      class="text-danger animated fadeIn">El documento es obligatorio</span>
                    </div>
                    <div class="form-group" data-validate="Password is required">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="password" name="password" required password [(ngModel)]="usuario.password" class="form-control" id="exampleInputPassword1">
                      <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">
                        La contraseña debe ser obligatoria
                      </span>
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4 btn-block">Iniciar sesion</button>
                  </form>
            </div>

        </div>