<div class="card">
    <div class="card-title">
        <div class="card-body">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="primerNombre">
                    <th mat-header-cell *matHeaderCellDef>Primer nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="segundoNombre">
                    <th mat-header-cell *matHeaderCellDef>Segundo nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.segundoNombre}}</td>
                </ng-container>
                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef>Apellido</th>
                    <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
                </ng-container>
                <ng-container matColumnDef="segundoApellido">
                    <th mat-header-cell *matHeaderCellDef>Segundo apellido</th>
                    <td mat-cell *matCellDef="let element">{{element.segundoApellido}}</td>
                </ng-container>
                <ng-container matColumnDef="parentezco">
                    <th mat-header-cell *matHeaderCellDef>Parentezco</th>
                    <td mat-cell *matCellDef="let element">{{element.parentezco}}</td>
                </ng-container>
            </table>
        </div>
    </div>
</div>