<div class="container" style="background-color: white!important;" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
    <img src="/../../assets/img/img-inicio.png" style="max-width: 60%; height: auto; margin-top: -70px; margin-bottom: -20px;" class="float-left" alt="">
    <form action="" style="padding-top: 160px; margin-left: 60px;">
        <button class="btn btn-primary btn-lg btn-block"> Botón webex </button>
        <button class="btn btn-primary btn-lg btn-block" style="margin-top: 50px;"> Historial clínico </button>
    </form>
</div>
</div>
